<h1 *ngIf="!isChange" mat-dialog-title>Create Element</h1>
<h1 *ngIf="isChange" mat-dialog-title>Edit Element</h1>
<div mat-dialog-content >

    <mat-form-field >
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="data.id">
    </mat-form-field>

    <mat-form-field >
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="data.phone">
    </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
    <button *ngIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Edit</button>
  </div>
</div>
